@import 'constant/color/index.scss';

:global {
  body {
    background-color: $background-gray;
  }
  .container {
    width: 100%;
  }

  @media (min-width: 768px) {
    .container {
      width: 980px;
    }
  }
}