@import 'constant/color/index.scss';

:global {
  body {
    background-color: $body-gray;
  }
  .container {
    width: 100%;
  }
  .main-container {
    background-color: $warm;
  }

  @media (min-width: 768px) {
    .container {
      width: 980px;
    }
  }
}