<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
</head>
<body>
    <div id="app-container"></div>
    <script src="/js" />
</body>
</html>